<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baiano</title>
</head>
<body>

    <h1> <%= dia %></h1>
    <ul>
        <% for(let x = 0; x < newlistitem.length; x++){%>
            <li><%= newlistitem[x] %></li>
        <%}%>
    </ul>

    <form action="/" method="POST">
        <input type="text" name="novoitem">
        <button type="submit">Adicionar à lista</button>
    </form>
    
        
</body>
</html>